table {
  width: 100%;
}

mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-form-field:nth-child(1) {
  margin-right: 10px;
}

mat-form-field:nth-child(2) {
  margin-left: 10px;
}

td, th {
  width: 25%;
}

.filter-container {
  display: flex;
  flex-direction: row;
}

.action-button {
  margin-right: 8px;
  width: 80px;
}

.create-button {
  margin: 8px 5px;
}
